@font-face {
  font-family: gill;
  src: url(../font/GillSans.ttc) format("opentype"); }

* {
  padding: 0;
  margin: 0; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

html {
  height: 100vh;
  background-color: #000; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

body {
  font-size: 14px;
  background-color: #000;
  font-family: 'gill', sans-serif;
  font-family: "yugothic", sans-serif;
  color: #292929; }
  @media screen and (max-width: 750px) {
    body {
      font-size: 12px; } }
  body .pcView {
    text-align: center;
    padding-top: 12em;
    color: #fff; }
    body .pcView img {
      width: 100px;
      margin-top: 20px; }
    @media screen and (max-width: 750px) {
      body .pcView {
        display: none; } }
  body #main {
    display: none; }
    @media screen and (max-width: 750px) {
      body #main {
        display: block;
        font-size: 12px;
        overflow: hidden;
        background-image: url(../img/bg_idol.png);
        background-size: 220%;
        background-position: center 0;
        height: 100vh;
        width: 100%;
        overflow: hidden; }
        body #main #about {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          margin: 0 auto;
          text-align: center;
          padding-top: 80px;
          color: #fff;
          text-shadow: #2bea92 1px 1px 10px, #2bea92 -1px 1px 10px; }
          body #main #about h2 {
            padding-bottom: 8px;
            font-size: 20px; }
          body #main #about h3 {
            font-size: 16px;
            padding-bottom: 16px; }
          body #main #about #about_text {
            width: 300px;
            margin: 0 auto; }
            body #main #about #about_text .text_english {
              margin-bottom: 24px; }
            body #main #about #about_text .text_japan {
              font-weight: bold; }
            body #main #about #about_text .text_contact {
              margin-bottom: 20px; }
            body #main #about #about_text a {
              text-decoration: none;
              color: #fff;
              display: block;
              text-align: center;
              margin-top: 10px; }
        body #main .inner_top {
          width: 100%;
          height: 500px;
          margin: 30px auto;
          text-align: center; }
          body #main .inner_top #logo {
            width: 94%;
            margin-top: 8rem; }
          body #main .inner_top #start {
            text-align: center;
            width: 240px;
            position: absolute;
            bottom: 100px;
            left: 0;
            right: 0;
            margin: auto; }
            body #main .inner_top #start img {
              width: 100%; }
        body #main .inner_q {
          width: 320px;
          height: 400px;
          margin: 60px auto;
          background-color: rgba(0, 0, 0, 0.8);
          border-radius: 4px;
          border: 2px #fff solid; }
          body #main .inner_q h2 {
            text-align: center;
            color: #fff;
            margin-top: 16px; }
          body #main .inner_q .question_e {
            color: #fff;
            text-align: center;
            margin-top: 16px;
            font-size: 14px; }
          body #main .inner_q .question_j {
            color: #fff;
            text-align: center;
            font-size: 12px;
            margin-bottom: 30px; }
          body #main .inner_q .buttons {
            width: 220px;
            margin: 0 auto;
            margin-bottom: 30px; }
            body #main .inner_q .buttons .question_button {
              width: 100px;
              background-color: #f2f700;
              margin-top: 8px;
              padding: 12px 0px;
              border-radius: 4px;
              border: none;
              margin-right: 20px; }
              body #main .inner_q .buttons .question_button:last-child {
                margin-right: 0; }
            body #main .inner_q .buttons .question_button_text {
              text-decoration: none;
              color: #000;
              font-size: 20px;
              font-weight: bold;
              padding: 16px 0px; }
        body #main .goal {
          width: 320px;
          height: 400px;
          margin: 60px auto;
          background-color: rgba(0, 0, 0, 0.8);
          border-radius: 4px;
          border: 2px #fff solid;
          text-align: center; }
          body #main .goal h2 {
            text-align: center;
            color: #fff;
            margin-top: 16px; }
          body #main .goal .question_e {
            color: #fff;
            text-align: center;
            margin-top: 16px;
            font-size: 14px; }
          body #main .goal .idol_img {
            width: 300px; }
          body #main .goal .question_button {
            width: 140px;
            background-color: #f2f700;
            margin-top: 20px;
            padding: 12px 0px;
            border-radius: 4px;
            border: none; }
            body #main .goal .question_button .question_button_text {
              text-decoration: none;
              color: #000;
              font-size: 20px;
              font-weight: bold;
              padding: 16px 0px; } }

footer {
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 10px 0px 8px; }
  footer #menu {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 8px; }
    footer #menu a {
      color: #fff;
      width: 80px;
      text-align: center;
      display: inline-block;
      text-decoration: none; }
  footer p {
    text-align: center; }
