//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "yugothic";
	font-weight: bold;
	font-size: 14px;
	background-color: #fff;
	color: $black;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
	#main {
		overflow: hidden;
		background-image: url(../img/bg_idol.png);
		background-size: 220%;
		background-position: center 0;
		height: 100vh;
		width: 100%;
		#about {
			width: 300px;
			margin: 0 auto;
			text-align: center;
			margin-top: 200px;
			h2 {
				padding-bottom: 8px;
				font-size: 20px;
			}
			h3 {
				font-size: 16px;
				padding-bottom: 8px;
			}
		}
	}
}

footer {
	width: 100%;
	background-color: #000;
	color: $white;
	position: absolute;
	bottom: 0;
	padding: 10px 0px 8px;
	#menu {
		width: 320px;
		margin: 0 auto;
		margin-bottom: 8px;
		a {
			color: $white;
			width: 106px;
			text-align: center;
			display: inline-block;
			text-decoration: none;
		}
	}
	p {
		text-align: center;
	}
}
