//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定
@import "lib/reset";

html {
	height: 100vh;
	background-color: #000;
}

button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

body {
	font-size: 14px;
	background-color: #000;
	font-family: 'gill', sans-serif;
	font-family: "yugothic", sans-serif;
	color: $black;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
	.pcView {
		text-align: center;
		padding-top: 12em;
		color: #fff;
		img {
			width: 100px;
			margin-top: 20px;
		}
		@include max-screen($breakpoint-mobile) {
			display: none;
		}
	}
	#main {
		display: none;
		@include max-screen($breakpoint-mobile) {
			display: block;
			font-size: 12px;
			overflow: hidden;
			background-image: url(../img/bg_idol.png);
			background-size: 220%;
			background-position: center 0;
			height: 100vh;
			width: 100%;
			overflow: hidden;
			#about {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.6);
				margin: 0 auto;
				text-align: center;
				padding-top: 80px;
				color: #fff;
				text-shadow:#2bea92 1px 1px 10px, #2bea92 -1px 1px 10px;
				h2 {
					padding-bottom: 8px;
					font-size: 20px;
				}
				h3 {
					font-size: 16px;
					padding-bottom: 16px;
				}
				#about_text {
					width: 300px;
					margin: 0 auto;
					.text_english {
						margin-bottom: 24px;
					}
					.text_japan {
						font-weight: bold;
					}
					.text_contact {
						margin-bottom: 20px;
					}
					a {
						text-decoration: none;
						color: #fff;
						display: block;
						text-align: center;
						margin-top: 10px;
					}
				}
			}
			.inner_top {
				width: 100%;
				height: 500px;
				margin: 30px auto ;
				text-align: center;
				#logo {
					width: 94%;
					margin-top: 8.2rem;
				}
				#start {
					text-align: center;
					width: 240px;
					position: absolute;
					bottom: 100px;
					left: 0;
					right: 0;
					margin: auto;
					img {
						width: 100%;
					}
				}
			}
			.inner_q {
				width: 320px;
				height: 400px;
				margin: 60px auto ;
				background-color: rgba(0,0,0,0.8);
				border-radius: 4px;
				border: 2px #fff solid;
				h2 {
					text-align: center;
					color: #fff;
					margin-top: 16px;
				}
				.question_e {
					color: #fff;
					text-align: center;
					margin-top: 16px;
					font-size: 14px;
				}
				.question_j {
					color: #fff;
					text-align: center;
					font-size: 12px;
					margin-bottom: 30px;
				}
				.buttons {
					width: 220px;
					margin: 0 auto;
					margin-bottom: 30px;
					.question_button {
						width: 100px;
						background-color: #f2f700;
						margin-top: 8px;
						padding: 12px 0px;
						border-radius: 4px;
						border: none;
						margin-right: 20px;
						&:last-child {
							margin-right: 0;
						}
					}
					.question_button_text {
						text-decoration: none;
						color: #000;
						font-size: 20px;
						font-weight: bold;
						padding: 16px 0px;
					}
				}
			}
			.goal {
				width: 320px;
				height: 400px;
				margin: 60px auto ;
				background-color: rgba(0,0,0,0.8);
				border-radius: 4px;
				border: 2px #fff solid;
				text-align: center;
				h2 {
					text-align: center;
					color: #fff;
					margin-top: 16px;
				}
				.question_e {
					color: #fff;
					text-align: center;
					margin-top: 16px;
					font-size: 14px;
				}
				.idol_img {
					width: 300px;
				}
				.question_button {
					width: 140px;
					background-color: #f2f700;
					margin-top: 20px;
					padding: 12px 0px;
					border-radius: 4px;
					border: none;	
					.question_button_text {
						text-decoration: none;
						color: #000;
						font-size: 20px;
						font-weight: bold;
						padding: 16px 0px;
					}		
				}
			}
		}
	}
}

#header {
	position: absolute;
	top: 8px;
	right: 6px;
	#share_list {
		ul {
			width: 100%;
			float: right;
			li {
				float: left;
				margin-right: 12px;
				a {
					text-decoration: none;
					color: #fff;
					font-size: 20px;

				}
			}
		}
	}
}

footer {
	width: 100%;
	color: $white;
	position: absolute;
	bottom: 0;
	padding: 10px 0px 8px;
	text-shadow:#2bea92 1px 1px 10px, #2bea92 -1px 1px 10px;
	#menu {
		width: 240px;
		margin: 0 auto;
		margin-bottom: 8px;
		a {
			color: $white;
			width: 80px;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			text-shadow:#2bea92 1px 1px 10px, #2bea92 -1px 1px 10px;
		}
	}
	p {
		text-align: center;
	}
}