extends _head
block title
 title= "JAPAN Idol Diagnosis"
block body
 #main
  #about
   h2 Page not found
   h3 お探しのページは存在しません。
   #about_text
    a.text_english(href="/") Back to TOP

 include _footer