header#manna_header
 #title_logo
  a(href="index.html")
   img(src="img/logo.png")
 #menu_list
  ul
   li
    a(href="about.html") ABOUT
   li
    a(href="news.html") NEWS
   li
    a(href="order.html") ORDER
   li
    a(href="blog.html") BLOG
   li
    a(href="contact.html") CONTACT
 p#info