header#header
 #share_list
  ul
   li
    a(href="http://twitter.com/share?url=[http://twitter.com/share?url=http://localidle.tokyo]&text=[自分にあったご当地アイドルを診断できるLOCALIDLE | みんなで診断して、シェアしてみよう！]"　data-text="自分にあったご当地アイドルを診断できるLOCALIDLE | みんなで診断して、シェアしてみよう！")
     i.fa.fa-twitter.fa-1x
   li
    a(href="https://www.facebook.com/sharer/sharer.php?u=http://localidle.tokyo")
     i.fa.fa-facebook.fa-1x