extends _head
block title
 title= "JAPAN Idol Diagnosis | ABOUT"
block body
 #main
  #about
   include _header
   h2 ABOUT
   h3 What's JAPAN LOCALIDLE
   #about_text
    p.text_english
     | LOCALIDLE is the diagnosis test of the local idol.
     br
     | I only answer a simple question and introduce the Japanese local idol who matched you.
     br
     | With a local idol, I introduce the famous place of the land.
    p.text_japan
     | LOCALIDLE（ローカライドル）とは、
     br
     | ご当地アイドルの診断テストです。
     br
     | 簡単な質問に答えていくだけで、
     br
     | あなたに合った日本のご当地アイドルを紹介します。
     br
     | ご当地アイドルと一緒に、
     br
     | その土地の名所も紹介します。
 include _footer