extends _head
block title
 title= "JAPAN Idol Diagnosis | CONTACT"
block body
 #main
  #about
   h2 CONTACT
   h3 What's JAPAN Idol Diagnosis
   #about_text
    p.text_japan
     | simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
 include _footer