extends _head
block title
 title= "JAPAN Idol Diagnosis | CONTACT"
block body
 #main
  #about
   h2 CONTACT
   #about_text
    p.text_contact
     | 気軽にご連絡ください。
    a(href="https://twitter.com/chihirooo0707?lang=ja") twitter
    a(href="https://www.instagram.com/chanchihiro/") instagram
    a(href="https://www.facebook.com/chanchihiro0707") facebook
 include _footer