extends _head
block title
 title= "JAPAN Idol Diagnosis"
block body
 .pcView
  p This site becomes the smartphone site limitation.
  p I read bar code, and, please use whether you are connected from the following URL.
  br
  p こちらのサイトはスマホサイト限定になります。
  p 下記URLから接続するか、バーコードを読み取ってご利用ください。
  br
  p https://localidle.netlify.com
  img(src="https://lh6.ggpht.com/ufwUy4SGVTqCs8fcp6Ajxfpae0bNImN1Rq2cXUjWI7jlmNMCsXgQE5C3yUEzBu5Gadkz=w300", alt="バーコード")
 #main
  #questions
 include _footer
 include _script